{% extends 'base.html.twig' %}
{% block title %}{{ element.name }}{% endblock %}
{% block body %}

{% if is_granted('ROLE_ADMIN') %}
    {% include 'layout/edit-button.html.twig' %}
{% endif %}
<div class="white-block">
    <div class="card">
        <div class="card-image">
            {% if element.image %}
                <img src="{{ asset('uploads/' ~ element.image) }}">
            {% else %}
                <img src="{{ asset('build/assets/images/leafs.jpg') }}">
            {% endif %}
        </div>
        <div class="card-stacked">
            <div class="card-header">
                <div class="card-title">
                    <h2>{{ element.name }}</h2>
                </div>
                <div class="card-content">
                    <small class="date">
                        {{ element.initDate|date("d/m/Y") }}
                    </small>
                    <div>
                        {{ element.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}