<!--<section class="page-section-no-padding">-->
<section class="">
    <!--filters-->
        {% if (color is defined) and (color == 'negative') %}
        <div class="filter-section sec-alternative" style="background-image: url(/assets/theme-base/images/odd_background.png)">
        {% else %}
        <div class="filter-section">
            {% endif %}
            <!-- /3 Column Portfolio -->
            <div class="filter-section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">

                            <h2>{{ page_title }}</h2>
                            <!--<div class="filter-container isotopeFilters">
                                <ul class="list-inline filter">
                                    <li class="active"><a href="#" data-filter="*">All </a><span>/</span></li>
                                    <li><a href="#" data-filter=".illustrations">Illustrations</a><span>/</span></li>
                                    <li><a href="#" data-filter=".photography">Photography</a><span>/</span></li>
                                    <li><a href="#" data-filter=".websites">Websites</a><span>/</span></li>
                                    <li><a href="#" data-filter=".art">Art</a></li>
                                </ul>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 3 Column Portfolio -->
        {% if (color is defined) and color == 'negative' %}
        <div class="portfolio-section port-col sec-alternative" style="background-image: url(/assets/theme-base/images/odd_background.png)">
        {% else %}
        <div class="portfolio-section port-col">
        {% endif %}
                <!--<section class="portfolio-section port-col">-->
                <div class="container">
                <div class="row">
                    <div class="grid">
                        <div class="grid-sizer"></div>
                        {% for creation in creations %}
                        <div class="{% for category in creation.category %}{{ category.name|lower }} {% endfor %}  grid-item">
                            <article>
                                <figure>
                                    <!-- http://placehold.it/625x450 -->
                                    <img src="{{ asset('uploads/' ~ creation.image) }}" alt="">

                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <div class="inner-overlay">
                                            <div class="row margin-0 project-content">
                                                <div class="col-md-12 info-head">
                                                    <h3>{{ creation.title }}</h3>
                                                    <h4>{% for category in creation.category %}
                                                            <small class=""> {{ category.name|upper }} </small>
                                                        {% endfor %}</h4>
                                                </div>
                                                <div class="col-md-12 info">
                                                    <p>{#<a title="Project Image" class="fancybox-pop fancybox.image" href="{{ asset('uploads/' ~ creation.image) }}"><i class="fa fa-search fa-border fa-2x"></i></a>#}
                                                        <a title="Project Link" href="{{ path('show_creation', {'id': creation.id  }) }}"><i class="fa fa-search fa-border fa-2x"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                            {#
                            <article class="">
                                <figure>
                                    <!-- http://placehold.it/625x450 -->
                                    <img src="{{ asset('uploads/' ~ creation.image) }}" alt="">
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <div class="inner-overlay">
                                            <div class="row margin-0 project-content">
                                                <div class="col-md-12 info-head">
                                                    <h3>{{ creation.title }}</h3>
                                                    <h4>{% for category in creation.category %}
                                                            <small class=""> {{ category.name|upper }} </small>
                                                        {% endfor %}</h4>
                                                </div>
                                                <div class="col-md-12 info">
                                                    <p>{{ creation.description|slice(0, 250) ~'...' }}</p>
                                                    <p><a title="Project Image" class="fancybox-pop fancybox.image" href="{{ asset('uploads/' ~ creation.image) }}"><i class="fa fa-search fa-border fa-2x"></i></a>
                                                        <a title="Project Link" href="{{ path('show_creation', {'id': creation.id  }) }}"><i class="fa fa-link fa-border fa-2x"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                            #}
                        </div>
                        {% endfor %}
                       <!--
                        <div class="col-md-4 isotopeSelector photography illustrations">
                            <article class="">
                                <figure>
                                    <img src="http://placehold.it/625x450" alt="">
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <div class="inner-overlay">
                                            <div class="row margin-0 project-content">
                                                <div class="col-md-12 info-head">
                                                    <h3>Project Title</h3>
                                                    <h4>Category</h4>
                                                </div>
                                                <div class="col-md-12 info">
                                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...</p>
                                                    <p><a title="Project Image" class="fancybox-pop fancybox.image" href="http://placehold.it/625x450"><i class="fa fa-search fa-border fa-2x"></i></a>
                                                        <a title="Project Link" href="portfolio-item.html"><i class="fa fa-link fa-border fa-2x"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                        </div>

                        <div class="col-md-4 isotopeSelector art">
                            <article class="">
                                <figure>
                                    <img src="http://placehold.it/625x450" alt="">
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <div class="inner-overlay">
                                            <div class="row margin-0 project-content">
                                                <div class="col-md-12 info-head">
                                                    <h3>Project Title</h3>
                                                    <h4>Category</h4>
                                                </div>
                                                <div class="col-md-12 info">
                                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...</p>
                                                    <p><a title="Project Image" class="fancybox-pop fancybox.image" href="http://placehold.it/625x450"><i class="fa fa-search fa-border fa-2x"></i></a>
                                                        <a title="Project Link" href="portfolio-item.html"><i class="fa fa-link fa-border fa-2x"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                        </div>

                        <div class="col-md-4 isotopeSelector photography">
                            <article class="">
                                <figure>
                                    <img src="http://placehold.it/625x450" alt="">
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <div class="inner-overlay">
                                            <div class="row margin-0 project-content">
                                                <div class="col-md-12 info-head">
                                                    <h3>Project Title</h3>
                                                    <h4>Category</h4>
                                                </div>
                                                <div class="col-md-12 info">
                                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...</p>
                                                    <p><a title="Project Image" class="fancybox-pop fancybox.image" href="http://placehold.it/625x450"><i class="fa fa-search fa-border fa-2x"></i></a>
                                                        <a title="Project Link" href="portfolio-item.html"><i class="fa fa-link fa-border fa-2x"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                        </div>

                        <div class="col-md-4 isotopeSelector photography websites">
                            <article class="">
                                <figure>
                                    <img src="http://placehold.it/625x450" alt="">
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <div class="inner-overlay">
                                            <div class="row margin-0 project-content">
                                                <div class="col-md-12 info-head">
                                                    <h3>Project Title</h3>
                                                    <h4>Category</h4>
                                                </div>
                                                <div class="col-md-12 info">
                                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...</p>
                                                    <p><a title="Project Image" class="fancybox-pop fancybox.image" href="http://placehold.it/625x450"><i class="fa fa-search fa-border fa-2x"></i></a>
                                                        <a title="Project Link" href="portfolio-item.html"><i class="fa fa-link fa-border fa-2x"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                        </div>

                        <div class="col-md-4 isotopeSelector photography art">
                            <article class="">
                                <figure>
                                    <img src="http://placehold.it/625x450" alt="">
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <div class="inner-overlay">
                                            <div class="row margin-0 project-content">
                                                <div class="col-md-12 info-head">
                                                    <h3>Project Title</h3>
                                                    <h4>Category</h4>
                                                </div>
                                                <div class="col-md-12 info">
                                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...</p>
                                                    <p><a title="Project Image" class="fancybox-pop fancybox.image" href="http://placehold.it/625x450"><i class="fa fa-search fa-border fa-2x"></i></a>
                                                        <a title="Project Link" href="portfolio-item.html"><i class="fa fa-link fa-border fa-2x"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                        </div>

-->
                    </div>

                </div>
                </div>
            </div>

            <!-- END Columns Portfolio -->
            <!--
                <div class="text-center">
                    <button type="button" class="btn btn-primary ">VIEW MORE PROJECTS <i class="fa fa-arrow-right"></i></button>
                </div>
            -->
        </div>

</section>
        <!-- </section> -->