{% extends 'theme-a/base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
    <!-- Carousel -->
    <!--<div class="block-carousel">
       {#  {% include 'theme-a/blocks/carousel.html.twig' %} #}
    </div> -->
    {% include 'theme-a/layout/header/picture-full-title-inside.html.twig' with {'element': site} %}
    <!-- Call to Action -->
    {% include 'theme-a/layout/call-to-action-band.html.twig' %}
    <!-- intro -->
    <section class="page-section padding-60" id="intro">
        <div class="container intro">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="title-section"><span class="title-regular">Votre <strong>paysagiste</strong></span><br/>à Paris et en Île-de-France.</h3>
                    <hr class="title-underline-center">
                    <p class="lead">Plus de 10 années d'expérience dans la création et rénovation de terrasses et jardins, <br/> installation d'arrosage automatique et éclairages d'extérieur.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Intro -->
    {% set vars = {'color': 'negative'} %}

    {% if site.commercialBandTitle is not null or site.commercialBandText is not null or site.commercialBandButtonText is not null %}
        <!-- Call to Action Primary -->
        <section class="cta cta-primary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-5">
                        {% if site.commercialBandTitle is not null %}
                            <h2>{{ site.commercialBandTitle|replace({' !' : '&nbsp;!', ' ?' : '&nbsp;?' })|striptags('<strong>, <b>, <span>, <i>, <a>')|raw }}</h2>
                        {% endif %}
                        {% if site.commercialBandText is not null %}
                            <p>{{  site.commercialBandText|replace({' !' : '&nbsp;!', ' ?' : '&nbsp;?' })|striptags('<strong>, <b>, <span>, <i>, <a>')|raw }}</p>
                        {% endif %}
                    </div>
                    {% if site.commercialBandButtonText is not null %}
                        <div class="col-md-2 col-md-push-4 cta-button">
                            <a href="#contact" class="btn btn-primary" style="padding: 25px 15px; font-weight:bold; font-size:larger;margin: 0;">{{ site.commercialBandButtonText|replace({' !' : '&nbsp;!', ' ?' : '&nbsp;?' })|striptags('<strong>, <b>, <span>, <i>, <a>')|raw }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}


    <!-- Full Spotlight left-->
    {% set index = 0 %}
    {% for service in services %}
        {% set index = index + 1  %}
        {% if index is odd %}
            <section class="page-section-no-padding">
                <div class="container-fluid">
                    <div class="row">
                        <div class="container col-md-6">
                            <div class="row">
                                <div class="col-md-7 col-md-offset-4 spotlight-container">
                                    <h2 class="title-section"><span class="title-regular">{{ service.title1 }}</span><br/>{{ service.title2 }}</h2>
                                    <hr class="title-underline" />
                                    <p>
                                        {% if service.description is defined %}{{ service.description|striptags('<strong>, <b>, <span>, <i>, <a>')|raw|nl2br }}{% endif %}
                                    </p>
                                    <!--<a href="#" class="btn btn-primary">More Information</a>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 spotlight-img-cont" style="background-image: url({% if service.imageHome %}{{ asset('uploads/' ~ service.imageHome) }}{% else %}{{ asset('build/assets/theme-a/images/leafs.jpg') }}{% endif %}); "> </div>
                    </div>
                </div>
            </section>
        {% else %}
            <section class="page-section-no-padding">
                <div class="container-fluid">
                    <div class="row">
                        <div class="container col-md-6 col-md-push-6">
                            <div class="row">
                                <div class="col-md-7 col-md-offset-1 spotlight-container">
                                    <h2 class="title-section"><span class="title-regular">{{ service.title1 }}</span><br/>{{ service.title2 }}</h2>
                                    <hr class="title-underline" />
                                    <p>
                                        {% if service.description is defined %}{{ service.description|striptags('<strong>, <b>, <span>, <i>, <a>')|raw|nl2br }}{% endif %}
                                    </p>
                                    <!--<a href="#" class="btn btn-primary">More Information</a>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6 spotlight-img-cont" style="background-image: url({% if service.imageHome %}{{ asset('uploads/' ~ service.imageHome) }}{% else %}{{ asset('build/assets/theme-a/images/leafs.jpg') }}{% endif %}); "> </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}

    <div class="band band-secondary"></div>
    <section class="page-section padding-60">
        <div class="container">
            <div class="row">
                <h2 class="title-section"><span class="title-regular">LES</span><br/>CRÉATIONS</h2>
                <hr class="title-underline" />
                <div class="index-carousel">
                    {% for element in carousel %}
                        <div>
                            <div>
                                {% if element.image %}
                                    <img class="img-responsive" data-lazy="{{ asset('uploads/' ~ element.image) }}" alt="">
                                {% else %}
                                    <img class="img-responsive " data-lazy="{{ asset('build/assets/theme-a/images/leafs.jpg') }}" alt="">
                                {% endif %}
                            </div>
                            <div class="slide-content">
                                <h3>{{ element.title }}</h3>
                                <p>{{ element.description }}</p>
                            </div>
                       </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </section>

    <!-- Highlighted Testmonial -->
    {% if site.quoteText is not null %}
        {% include 'theme-a/layout/testimonial.html.twig' %}
    {% endif %}
    <!-- Contact Us -->
    {# {% include 'theme-a/blocks/contact.html.twig' %} #}
    <section id="contact" class="page-section-no-padding">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-6 col-md-push-6">
                    <div class="container">
                        <div class="row ">
                            <div class="col-md-6 contact-container">
                                <h2 class="title-section"><span class="title-regular">CONTACTER</span><br/>PAR MESSAGE</h2>
                                <hr class="title-underline" />
                                <p>
                                    {{ site.contactBlockText }}
                                </p>
                                {{ form_start(contact) }}
                                <div class="form-group">
                                    {{ form_label(contact.name) }}
                                    {{ form_widget(contact.name) }}
                                    <span class="helper-text" data-error="Champ obligatoire"></span>
                                </div>
                                <div class="form-group">
                                    {{ form_label(contact.from) }}
                                    {{ form_widget(contact.from) }}
                                    <span class="helper-text" data-error="Champ obligatoire"></span>
                                </div>
                                <div class="form-group">
                                    {{ form_label(contact.message) }}
                                    {{ form_widget(contact.message) }}
                                    <span class="helper-text" data-error="Champ obligatoire"></span>
                                </div>
                                <div class="g-reCAPTCHA" id="#recaptcha" data-sitekey="6Le8P60UAAAAAHR8R---puSsx7sHxqc81oKNj3di"></div>

                                <button type="submit" class="btn btn-primary">ENVOYER <i class="fa fa-envelope"></i></button>
                                {{ form_end(contact) }}
                            </div>

                        </div>
                    </div>
                </div>
                {% include 'theme-a/blocks/coordonnees.html.twig' %}
            </div>
        </div>
    </section>


{% endblock %}