<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
            <div class="background">
                <img src="{{ asset('build/assets/images/leafs.jpg') }}">
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            <p ><img class="circle" src="{{ asset('build/assets/images/profile-pic.jpg') }}"></p>
            <p><span class="white-text name">{{ app.user.username }}</span></p>
            <p><span class="white-text email">jdandturk@gmail.com</span></p>
            {% endif %}
        </div></li>
    <li><a class="waves-effect" href="{{ path('index') }}"><i class="material-icons">home</i>Accueil</a></li>
    <li><div class="divider"></div></li>
    {% if is_granted('ROLE_ADMIN') %}
    <li><a class="subheader">Éléments</a></li>
    <li><a class="waves-effect" href="{{ path('nouveau') }}"><i class="material-icons">add</i> Nouvel élément</a></li>
    <li><a class="waves-effect" href="{{ path('list_element') }}"><i class="material-icons">list</i>Tous les éléments</a></li>
    {% endif %}
    <li><a class="subheader">Articles</a></li>
    <li><a class="waves-effect" href="{{ path('blog') }}"><i class="material-icons">speaker_notes</i>Blog</a></li>
    {% if is_granted('ROLE_ADMIN') %}
    <li><a class="waves-effect" href="{{ path('new_article') }}"><i class="material-icons">add</i> Nouvel article</a></li>
    <li><a class="waves-effect" href="{{ path('list_articles') }}"><i class="material-icons">list</i>Tous les articles</a></li>
    {% endif %}

</ul>